body{
    background-color:#1f1f1f;
}
#logs button{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: cyan;
    color: black;
    box-shadow: 0 0 5px cyan;


}
#logs button:hover{
    box-shadow: 0 0 25px cyan;
}
#shadow{
    text-shadow: 0px 10px 10px #5cfaff;
}

#imgs-b img{
    height: 400px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    margin-top: 20px;
}

#ho :hover{
    box-shadow: 0 0 120px gold;
}


{/*
@media screen and (max-width: 884px){
    #h-cont{
        width: 1rem;
        gap: 10px;
    }
    #shadow{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 834px){
    #h-cont{
        flex-wrap: wrap;
        align-items: center;
        margin-left: 3rem;
    }
    #shadow{
        margin-left: 15rem;
    }
}
@media screen and (max-width: 428px){
    #h-cont{
        flex-wrap: wrap;
        align-items: center;
        margin-left: 3rem;
    }
    #ul{
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 4px;
    }
    #inp{
        flex-wrap: wrap;
    }
    #ser{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 412px){
    #h-cont{
        flex-wrap: wrap;
        align-items: center;
        margin-left: 3rem;
    }
    #ul{
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 4px;
    }
    #inp{
        flex-wrap: wrap;
    }
    #ser{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 320px){
    #h-cont{
        flex-wrap: wrap;
        align-items: center;
        margin-left: 3rem;
    }
    #ul{
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 4px;
    }
    #inp{
        flex-wrap: wrap;
    }
    #ser{
        margin-bottom: 1rem;
    }

}
*/}